*{ margin: 0}
#numeric-pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}

#numeric-pad button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#numeric-pad button:hover {
    background-color: #45a049;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: calc(50% - 5px);
    display: inline-block;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

h2 {
    color: #333;
}

h3 {
    margin-top: 20px;
    color: #333;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-family: monospace;
    white-space: pre-line;
    box-sizing: border-box;
}

#particles-js {
    
    background-color :#af575e
}